
<ul>
    <% companies.forEach(company => { %>
        <li><%= company.name %><a href="/admin/companies/delete/<%= company.id %>">Delete</a></li>
    <% }) %>
</ul>

<form action="/admin/companies/add" method="POST">

    <input type="text" placeholder="Enter company name" required name="name" />
    <button type="submit">Create</button>

</form>