
<form method="POST" action="/auth/register">

    <% if(error) { %>
        <p><%- error %></p>
    <% } %>

    <input type="text" name="name" placeholder="Unesite vase ime" />
    <input type="text" name="email" placeholder="Unesite vas email" />
    <input type="password" name="password" placeholder="Unesite vas password" />
    <button>Register</button>

</form>